body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
}

.header {
    display: grid;
    gap: 0px;
}

.topnav {
    background-color: #006600;
    height: 48px;
}

.menuitem {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menuitem:hover {
    background-color: #b3b3b3;
    color: white;
}

.active_menuitem {
    background-color: #04AA6D;
    color: white;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #006600;
    height: 400px;
    z-index: -1;
}

.heading {
    color: #f2f2f2;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: orangered;
    font-size: 100px;
    font-weight: bolder;
    text-transform: uppercase;
}

.desc {
    text-align: center;
    font-size: 40pt;
    font-weight: 400;
    color: rgba(31, 31, 31, 1);
    text-transform: uppercase;
    box-sizing: border-box;
    line-height: 1.42;
}

footer {
    background-color: #006600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans';
    font-size: 20pt;
    line-height: 1.6;
    height: 100px;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    text-transform: uppercase;
    padding: 20px;
}

th {
    border-style: outset;
}

table {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 99%;
}

table,
tr,
td {
    border: 1px solid grey;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
}

tr:hover {
    background-color: #D6EEEE;
    cursor: pointer;
}

.team_head {
    background-color: green;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    text-align: center;

}

.team_head_text {
    font-size: 29pt;
    line-height: 1.42;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    word-wrap: break-word;
}

.team_member_details {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
    font-size: 13pt;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team {
    background-color: green;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    text-align: center;
}

.describe {
    text-align: justify;
    text-align-last: center;
    padding: 15px 30px 15px 30px;
    font-size: x-large;
}

.speedometer-container {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-content: center;
    justify-content: center;
}

.needle {
    position: absolute;
    transform-origin: 50% 50%;
    padding: 5%;
    z-index: 1;
    width: 25%;
}
.logo {
    float: left;
    padding: 14px 16px;
height:60px;
z-index: 1000;}
