<!DOCTYPE html>
<html>

<head>
    <title>Stock Surgeons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    <div class="header">
        <div class="topnav">
            <img src="{{ url_for('static', filename='favicon.png') }}" class="logo">
            <a href="/contact" class="menuitem">Team</a>
            <a href="/peer" class="menuitem">Peer Performance</a>
            <a href="/fpp" class="menuitem">Fetch Factor</a>
            <a href="/" class="active_menuitem">Home</a>
        </div>
        <div class="center">
            <span class="heading">Stock Surgeons</span>
        </div>
    </div>

    <div>
        <h1 class="desc">Experience the Surgical Precision of Financial Mastery</h1>
        <p class="describe"><img src="{{ url_for('static', filename='intro.png') }}" width="100%"></p>
        <hr style="height: 10px; width: 95%;background-color: green; border-radius: 4px;">
        <h1 class="desc">Unveiling Our Uniqueness: What Sets Us Apart</h1>
        <p class="describe"><img src="{{ url_for('static', filename='distinction.png') }}" width="100%"></p>
    </div>
    <footer>
        Get in touch with us at info.stocksurgeons@gmail.com
    </footer>

</body>

</html>