<!DOCTYPE html>
<html>

<head>
    <title>Peer Performance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <script>
        var data = {{ sector_data | tojson }};
        function change() {
            var type = document.getElementById("type").value;
            var sector = document.getElementById("sector");
            sector.innerHTML = "<option value='none' selected disabled>SELECT</option>";
            var options = data[type];
            options.forEach(function (option) {
                var newOption = document.createElement("option");
                newOption.value = option;
                newOption.text = option;
                sector.add(newOption);
            });
        }

    </script>
</head>

<body>
    <div class="header">
        <div class="topnav">
            <img src="{{ url_for('static', filename='favicon.png') }}" class="logo">
            <a href="/contact" class="menuitem">Team</a>
            <a href="/peer" class="active_menuitem">Peer Performance</a>
            <a href="/fpp" class="menuitem">Fetch Factor</a>
            <a href="/" class="menuitem">Home</a>
        </div>
        <div class="center">
            <span class="heading">Peer Performance</span>
        </div>
    </div>

    <div>
        <h2 class="desc">Description of PP</h2>
        <div class="form">
            <h1 style="display: flex; align-items: center; justify-content: center;">Here is the working!</h1>
            <form method="POST" action="/peer/result">
                <label for="type">Choose Type: </label>
                <select name="type" id="type" onchange="change()">
                    <option value="none" selected disabled>SELECT</option>
                    <option value="Stock">Stock</option>
                    <option value="ETF">ETF</option>
                </select>
                <label for="sector">Choose Sector: </label>
                <select name="sector" id="sector">
                    <option value="none" selected disabled>SELECT</option>
                </select>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <footer>
        Get in touch with us at info.stocksurgeons@gmail.com
    </footer>
</body>

</html>